<% layout("/layouts/boilerplate") %>

<!-- <form action="/listings/new" method="GET">
   <button>create new listing</button>
</form> -->

<style>
  #filters{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .filter{
    text-align: center;
    margin-right: 2rem;
    margin-top: 2rem;
    opacity:0.7;
  }
  .filter:hover{
    opacity: 1;
    cursor: pointer;
  }
  .tax-info{
    display: none;
  }
  .taxtoggle{
    border:1px solid black;
    border-radius: 1rem;
    height: 2.5rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
  }
</style>

<div id="filters">
  <div class="filter" data-category="Rooms">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
  </div>
    <div class="filter" data-category="Trending">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
  </div>
    <div class="filter" data-category="Arctic">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
  </div>
    <div class="filter" data-category="Mountain">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountain</p>
  </div>
    <div class="filter" data-category="Amazing Pools">
    <div><i class="fa-solid fa-person-swimming"></i></div>
    <p>Amazing Pools</p>
  </div>
    <div class="filter" data-category="Castles">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
  </div>
    <div class="filter" data-category="Camping">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
  </div>
    <div class="filter" data-category="Iconic Cities">
    <div><i class="fa-solid fa-mountain-city"></i></div>
    <p>Iconic Cities</p>
  </div>
    <div class="filter" data-category="Farm">
    <div><i class="fa-solid fa-building-wheat"></i></div>
    <p>Farm</p>
  </div>
  <div class="taxtoggle">
  <div class="form-check-reverse form-switch">
  <input class="form-check-input" type="checkbox" role="switch" id="switchCheckDefault">
  <label class="form-check-label" for="switchCheckDefault">Display total after taxes</label>
</div>
  </div>
</div>

  <% if(alllistings.length === 0) { %>
  <h4>No listings found 😔</h4>
  <% } %>
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 mt-3">
    <% for(let listing of alllistings){ %>
    <a href="/listings/<%=listing._id %>" class="listing-link mt-3">
        <div class="card col listing-card "data-category="<%= listing.category %>">
            <img src="<%= listing.image.url %>"
            class="card-img-top"
            alt="listing-image"
            style="height:20rem"
            />
          <div class="card-img-overlay"></div>
          <div class="card-body">
            <p class="card-text">
              <b><%=listing.title %></b> <br>
             <p> &#8377;<%=listing.price.toLocaleString("en-IN")%>/night
              <i class="tax-info">&nbsp; <b>+18%GST</b></i>
            </p> 
             <p><%= listing.location%> </p>      
             <p><%= listing.country%></p> 
           </p>
          </div>
          </div>
    </a>
    <% }%>
</div>

<script>
  let taxswitch = document.getElementById("switchCheckDefault");
  taxswitch.addEventListener("click",()=>{
    let taxinfo = document.getElementsByClassName("tax-info");
    for(info of taxinfo){
      if(info.style.display !='inline'){
           info.style.display = 'inline'
      }else{
      info.style.display = 'none';
      }
    }
  });
  const filters = document.querySelectorAll(".filter");
  const listings = document.querySelectorAll(".listing-card");

  filters.forEach(filter => {
    filter.addEventListener("click", () => {
      const selected = filter.getAttribute("data-category");

      listings.forEach(listing => {
        const category = listing.getAttribute("data-category");

        if (category === selected) {
          listing.style.display = "";
        } else {
          listing.style.display = "none";
        }
      });
    });
  });

  const input = document.getElementById("searchInput");
  const clearBtn = document.getElementById("clearBtn");

  clearBtn.addEventListener("click", () => {
    input.value = "";
    window.location.href = "/listings"; // reset page
  });

</script>

